.bg-image {
  background-image: url("../images/bg-images/background-image-second-whitest.png");
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 5rem;
}
.sizing-container {
  width: 1200px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.stats p {
  width: 400px;
}
.end-btn {
  background-color: var(--btn-color);
  padding: 1rem;
  font-size: 1.25rem;
  transition: 0.2s;
  animation: unwonk 0.5s;
}

/* CARDS */
.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.easy-layout {
  grid-template-columns: repeat(3, auto);
  grid-gap: 3rem;
}
.easy {
  height: 300px;
  width: 240px;
}
.normal-layout {
  grid-template-columns: repeat(6, auto);
  grid-gap: 1.5rem;
}
.hard {
  height: 212px;
  width: 170px;
}
.hard-layout {
  grid-template-columns: repeat(6, auto);
  grid-gap: 1.5rem;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: var(--border-color) solid 1px;
  border-radius: 10px;
  box-shadow: var(--border-color) 0 0 10px;
}
.front {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.back:hover {
  transition: 0.2s;
  animation: wonk 0.5s;
  transform: rotate(-7deg);
  cursor: pointer;
}
.flipped {
  transform: rotateY(180deg);
}

/* SIGNS */
.you-win,
.you-lose,
.are-you-sure {
  position: fixed;
  background-color: wheat;
  height: 400px;
  width: 1000px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.you-win p,
.you-lose p,
.are-you-sure p {
  padding: 1rem 5rem;
}
.you-win {
  background-color: var(--you-win-color);
  box-shadow: white 0 0 10px;
}
.you-lose {
  background-color: var(--btn-color);
  box-shadow: black 0 0 10px;
}
.are-you-sure {
  background-color: var(--are-you-sure);
  box-shadow: black 0 0 10px;
}
.are-you-sure p {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.btn-container {
  display: flex;
  gap: 3rem;
}
.yes,
.no {
  font-size: 1rem;
  padding: 1rem;
}
.yes {
  background-color: var(--btn-color);
}
.no {
  background-color: var(--you-win-color);
}
.hidden {
  display: none;
}
