.bg-image {
  background-image: url("../images/bg-images/background-image-second-whitest.png");
}
h1 {
  font-size: 3rem;
}
.sizing-container {
  width: 1200px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.end-btn {
  background-color: var(--btn-color);
  padding: 1rem;
  font-size: 1.25rem;
  transition: 0.2s;
  animation: unwonk 0.5s;
}

/* CARDS */
.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.easy-layout {
  grid-template-columns: repeat(3, auto);
  grid-gap: 3rem;
}
.easy {
  height: 300px;
  width: 240px;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: var(--border-color) solid 1px;
  border-radius: 10px;
  box-shadow: var(--border-color) 0 0 10px;
}
.front {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.back:hover {
  transition: 0.2s;
  animation: wonk 0.5s;
  transform: rotate(-7deg);
  cursor: pointer;
}
.flipped {
  transform: rotateY(180deg);
}
