body {
  font-family: "Gaegu", cursive;
}

h1,
button,
.username {
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
}
p {
  font-size: 2.5rem;
  text-align: center;
}
input {
  -webkit-appearance: none;
  appearance: none;
}
button {
  background: none;
  border: none;
}
/* COLORS */
:root {
  --border-color: rgb(36, 24, 90);
}
/* ANIMATIONS */
@keyframes wonk {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-7deg);
  }
}
@keyframes unwonk {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(-7deg);
  }
}
@keyframes blink {
  from {
    color: black;
  }
  10% {
    color: black;
  }
  20% {
    color: red;
  }
  30% {
    color: black;
  }
  40% {
    color: red;
  }
  50% {
    color: black;
  }
  60% {
    color: red;
  }
  to {
    color: black;
  }
}
