body {
  font-family: "Gaegu", cursive;
}

h1,
h2,
button,
.username,
.table-heading,
.mobile {
  font-family: "Press Start 2P", cursive;
}

.mobile {
  display: none;
}
h1,
h2 {
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
}
p,
td {
  font-size: 2.5rem;
  text-align: center;
}
input {
  -webkit-appearance: none;
  appearance: none;
}
button {
  background: none;
  border: none;
  box-shadow: var(--title-color) 3px 3px 10px;
}
button:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);

  transition: 0.2s;
  animation: wonk 0.5s;
  transform: rotate(-7deg);
}
a {
  text-decoration: none;
}
.bg-image {
  height: 100vh;
  background-size: cover;
}
/* COLORS */
:root {
  --border-color: rgb(230, 195, 101);
  --btn-color: rgb(255, 60, 0);
  --title-color: rgb(12, 12, 68);
  --box-fill-in: rgb(247, 238, 222);
  --you-win-color: rgb(253, 207, 80);
  --are-you-sure: rgb(147, 67, 201);
  --card-color: rgb(152, 200, 255);
  --btn-hover-color: rgb(0, 255, 191);
}
/* ANIMATIONS */
@keyframes wonk {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-7deg);
  }
}
@keyframes unwonk {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(-7deg);
  }
}
@keyframes blink {
  from {
    color: black;
  }
  10% {
    color: black;
  }
  20% {
    color: var(--btn-color);
  }
  30% {
    color: black;
  }
  40% {
    color: var(--btn-color);
  }
  50% {
    color: black;
  }
  60% {
    color: var(--btn-color);
  }
  to {
    color: black;
  }
}

@media only screen and (max-width: 1400px) {
  .main-container {
    display: none;
  }
  .mobile {
    display: block;
    padding: 3rem 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    text-align: center;
  }
}
