body {
  font-family: "Gaegu", cursive;
}

h1,
button,
.username {
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
}
p {
  font-size: 2.5rem;
  text-align: center;
}
input {
  -webkit-appearance: none;
  appearance: none;
}
button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: aqua;

  transition: 0.2s;
  animation: wonk 0.5s;
  transform: rotate(-7deg);
}
a {
  text-decoration: none;
}
.bg-image {
  /* background-image: url("../images/owosito_images/Grothmar_Valley_loading_screen.jpg"); */
  height: 100vh;
  background-size: cover;
}
/* COLORS */
:root {
  --border-color: rgb(230, 195, 101);
  --btn-color: rgb(255, 60, 0);
  --btn-color-hover: purple;
  --title-color: rgb(12, 12, 68);
  --box-fill-in: rgb(247, 238, 222);
}
/* ANIMATIONS */
@keyframes wonk {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-7deg);
  }
}
@keyframes unwonk {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(-7deg);
  }
}
@keyframes blink {
  from {
    color: black;
  }
  10% {
    color: black;
  }
  20% {
    color: red;
  }
  30% {
    color: black;
  }
  40% {
    color: red;
  }
  50% {
    color: black;
  }
  60% {
    color: red;
  }
  to {
    color: black;
  }
}
