.bg-image {
  background: url("../images/bg-images/background-image-second-whitest.png")
    no-repeat center center fixed;
}
h1 {
  font-size: 4rem;
  animation: blink;
  animation-duration: 5s;
  margin-top: 100px;
  text-shadow: 2px 2px 5px #ffffff;
  color: var(--title-color);
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
.username {
  font-size: 2rem;
  border: var(--btn-color) solid 10px;
  text-align: center;
  padding: 1rem;
}
label {
  font-size: 2rem;
}
.diff-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.difficulty-select {
  font-family: "Gaegu", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border: 1px solid #999;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}
.timed-option {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 2px solid gray;

  color: green;
  background-color: wheat;
}
input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 2rem;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

.start {
  font-size: 2.5rem;
  background-color: var(--btn-color);
  padding: 2rem;
  transition: 0.2s;
  animation: unwonk 0.5s;
}
