.table-heading {
  font-size: 2rem;
}
.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
table,
th,
td {
  border: 4mm ridge var(--you-win-color);
}
td,
th {
  padding: 1rem;
}
th {
  background-color: var(--card-color);
}
td {
  background-color: var(--box-fill-in);
}
.start {
  background-color: var(--btn-color);
  padding: 1rem;
  font-size: 1.25rem;
  transition: 0.2s;
  animation: unwonk 0.5s;
}
.sb-error {
  position: fixed;
  background-color: var(--btn-color);
  height: 400px;
  width: 1000px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: black 0 0 10px;
}
.sb-error p {
  padding: 1rem 5rem;
}
.hidden {
  display: none;
}
